# FASTAPI
HOST =              "0.0.0.0"
PORT =              8000
AUTO_RELOAD =       True
RELOAD_EXCLUDES =   storage/*

# LLM
LLM_BASE_URL =      "http://172.18.0.1:8080"
LLM_MODEL =         "gemma4:e4b"
PROMPT_PATH =       "/core/system_prompt.txt"
# STT
STT_MODEL =         "medium"                                 # Доступно: small / medium
STT_DEVICE =        "cuda"                                   # Доступно: cpu / cuda (использует видеокарту)